<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Housing Market In The Top 10 Tech Cities</title>

        <!-- Bootstrap core CSS -->
        <link href="static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="static/css/scrolling-nav.css" rel="stylesheet">

        <!-- Leaflet CSS & JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
        <style>
            .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
            border: 1px solid #c5c5c5;
            background: #f6f6f6;
            font-weight: normal;
            color: #454545;
        }
        .ui-sortable-handle {
            -ms-touch-action: none;
            touch-action: none;
        }
        .ui-icon-arrowthick-2-n-s {
            background-position: -128px -48px;
        }
        .ui-icon {
            width: 16px;
            height: 16px;
        }
        #sortable { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
            width: 100%; 
        }

        #sortable li span { 
            position: absolute; 
            margin-left: -1.3em; 
        }
        </style>
        </head>

        <body id="page-top">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><!----></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#visualizations">Visualizations</a>
                    </li>
                    <li class="nav-item"> 
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <div id="myCarousel" class="carousel slide">

            <!-- Indicators -->
            <ul class="carousel-indicators">
            <li class="item1 active"></li>
            <li class="item2"></li>
            <li class="item3"></li>
            <li class="item4"></li>
            <li class="item5"></li>
            <li class="item6"></li>
            <li class="item7"></li>
            <li class="item8"></li>
            <li class="item9"></li>
            <li class="item10"></li>
            </ul>

        <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{url_for('static',filename='Images/San-Francisco.jpg')}}" alt="San Francisco" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/Seattle-skyline.jpg')}}" alt="Seattle" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/New-York-skyline.jpg')}}" alt="New York" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/Dallas.jpg')}}" alt="Dallas" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/Detroit.jpg')}}" alt="Detroit" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/Washington-DC.jpg')}}" alt="Washington, DC" width="1400" height="600">
                </div>  
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/Denver-Colorado.jpg')}}" alt="Denver" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/raleigh.jpg')}}" alt="Raleigh-Durham" width="1400" height="600">
                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/austin-tx-skyline.png')}}" alt="Austin" width="1400" height="600">
                </div> 
                <div class="carousel-item">
                    <img src="{{url_for('static',filename='Images/Orlando-skyline.jpg')}}" alt="Orlando" width="1400" height="600">
                </div> 
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel">
            <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <h2>Cities</h2>
                        <ul id="sortable">
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Seattle</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Washington, DC</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Detroit</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Denver</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Austin</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>San Francisco</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Dallas-Fort Worth</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>New York City</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Orlando</li>
                        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Raleigh-Durham</li>
                        </ul>
                    </div>
                    <div class="col-10">
                        <h2>Housing Market In The Top 10 Tech Cities</h2>
                        <p class="lead">Project Objectives</p>
                        <p>This tool was designed with software professionals in mind. If you’re considering relocating within the U.S. for a technology-related job, chances are you’ll be shopping around one of these 10 cities, which were selected because they showed the highest volume of software job postings per Glassdoor as of April 2018.</p>
                        <p>Explore the information below, then use the sortable list to your left to rank these 10 cities. The images included at the top of this page represent each city. </p>
                    </div>
                </div>
        </section>
        <section id="visualizations" class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <h2>Average Number of Sales</h2>
                        
                        <p class="lead" id="line"></p>
                        <p>This chart will display a year-by-year comparison for average number of sales in the selected city from 2008 through 2018. </p> 
                        <p>As the tech industry has expanded, housing markets have also shown increased activity within these metro areas.</p>
                        <h5>SELECT City:</h5>
                        <select id="selcity" onchange="optionChanged(this.value)">
                        </select>
                    </div>
                    <div class="col-lg-6 mx-auto">
                        <h2>Average Price Per Square Foot</h2>
                        
                        <p class="lead" id="bar"></p>
                        <p>How far will your housing dollar go? This bar chart compares the average price per square foot for all 10 cities. </p> 
                        <p>This chart defaults to the most recent year (2018) and will update based on your selection below.</p>
                        <h5>SELECT Year:</h5>
                        <select id="selYear" onchange="optionchanged(this.value)">
                        </select>
                    </div>
                </div>
            </div>
        </section>

        <section id="visualizations" class="bg-light">
            <div class="container" id="map-div">
                <div class="row">
                    <div class="col-lg-8 mx-auto" >
                        <h2>Average Housing Price</h2>
                        <p class="lead" id="map"></p>
                        <p>This interactive map provides an at-a-glance view of the housing prices across all 10 cities. Use the checkboxes in the top right corner to update the map view with circle markers on each city.</p> 
                        <p>The circle size reflects average housing prices. The larger the circle, the higher the price.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact" class="container content-section text-center">
                <div class="row">
                    <div class="col-lg">
                        <h2>Contact The Suaves</h2>
                        <p>Feel free to contact our team for all your analytical needs </p>
                        <p><a href="mailto:rico_medford@live.com">Rico : rico_medford@live.com</a></br>
                            <a href="mailto:martina.maagdy@yahoo.com">Martina : martina.maagdy@yahoo.com</a></br>
                            <a href="mailto:jcherepow@gmail.com">Jackie : jcherepow@gmail.com</a></br>
                            <a href="mailto:willb410@gmail.com">Will : willb410@gmail.com</a></br>
                            <a href="cwesson.cp@gmail.com">Connor : cwesson.cp@gmail.com </a>
                        </p>
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="https://github.com/martinamagdy/LeafletProject_Suaves" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://getbootstrap.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Bootstrap</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

         <!--D3-->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
         <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script> -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
 
         <!--Plotly-->
         <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
         <!--jQuery-->
         <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
         <script src="static/vendor/jquery-easing/jquery.easing.js"></script>
 
         <!--Other js-->
         <script src="static/vendor/bootstrap/js/bootstrap.bundle.js"></script>
         <script src="static/js/scrolling-nav.js"></script>
 
         <!--map-->
         <script src="static/js/config.js"></script>
         <script src="static/js/map.js"></script>
         <link rel="stylesheet" type="text/css" href="static/css/style.css">
 
         <!--Sortable js-->
         <script>
             $( function() {
             $( "#sortable" ).sortable();
             $( "#sortable" ).disableSelection();
             } );
         </script>
 
         <!-- Carousel js -->
         <script>
             $(document).ready(function(){
                 // Activate Carousel with a specified interval
                 $("#myCarousel").carousel({interval: 3500}); 
                 // Enable Carousel Indicators
                 $(".item1").click(function(){
                 $("#myCarousel").carousel(0);
                 });
                 $(".item2").click(function(){
                 $("#myCarousel").carousel(1);
                 });
                 $(".item3").click(function(){
                 $("#myCarousel").carousel(2);
                 });
                 $(".item4").click(function(){
                 $("#myCarousel").carousel(3);
                 });
                 $(".item5").click(function(){
                 $("#myCarousel").carousel(4);
                 });
                 $(".item6").click(function(){
                 $("#myCarousel").carousel(5);
                 });
                 $(".item7").click(function(){
                 $("#myCarousel").carousel(6);
                 });
                 $(".item8").click(function(){
                 $("#myCarousel").carousel(7);
                 });
                 $(".item9").click(function(){
                 $("#myCarousel").carousel(8);
                 });
                 $(".item10").click(function(){
                 $("#myCarousel").carousel(9);
                 });
                 // Enable Carousel Controls
                 $(".carousel-control-prev").click(function(){
                 $("#myCarousel").carousel("prev");
                 });
                 $(".carousel-control-next").click(function(){
                 $("#myCarousel").carousel("next");
                 });
             });
         </script>
        <script src="{{url_for('static',filename='js/citiesapp.js')}}"></script>
        <script src="{{url_for('static',filename='js/barcity.js')}}"></script> 

        <!-- Footer -->
        <footer class="py-5 bg-dark">
        
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; SuaveLeaflet</p>
            </div>
            <!-- /.container -->
        </footer>
    </body>
  
  </html>